@import "../../node_modules/bourbon/app/assets/stylesheets/bourbon";

$dk-blue: #313A54;

@import "modules/structure";
@import "modules/navbar";
@import "modules/dragDrop";
@import "modules/astroid";


body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    margin: 0;
    background:#fff;
}